In [1]:
from faker import Faker
from random import randint
import random
import pandas as pd

faker = Faker('pt_BR')
Faker.seed(0)

# Clients Table
First, I'm gonna makeup some **Client Claims**, as this would be the first step: The Client with a problem would get in touch with a dealer and claim that some problem is ocurring in his vehicle

In [3]:
# Define the vehicles and their weights
vehicles = {
    "Dolphin": "BYD001", 
    "Seal": "BYD002",
    "Yuan": "BYD003",
    "Han": "BYD004",
    "Tan": "BYD005"
}

vehicles_weights = {
    "Dolphin": 20,
    "Seal": 2,
    "Yuan": 6,
    "Han": 3,
    "Tan": 3
}

# Define common car problems
# Define the possible problems and their weights
problems = {
    "Battery degradation": 20,
    "Charging issues": 18,
    "Electric motor failure": 15,
    "Range anxiety": 12,
    "Battery management system failure": 14,
    "Overheating of battery": 10,
    "Electrical system faults": 11,
    "Regenerative braking issues": 9,
    "Inverter problems": 8,
    "Cooling system issues": 7,
    "Charging port issues": 6,
    "Software glitches": 5,
    "Wiring problems": 4,
    "Vehicle control system failures": 3,
    "Battery overheating": 2,
    "Inconsistent charging": 2,
    "Climate control system issues": 1,
    "Connectivity issues": 1,
    "Suspension problems": 3,
    "Windshield replacement": 5, 
    "Brake system maintenance": 4, 
    "Tire replacement": 4,  
    "Fluid top-up": 2,  
    "Cabin filter replacement": 3 
}


    
def select_car():
    cars = list(vehicles.keys())
    weights = [vehicles_weights[car] for car in cars]
    return random.choices(cars, weights=weights, k=1)[0]

def select_problem():
    problems_list = list(problems.keys())
    weights = [problems[problem] for problem in problems_list]
    return random.choices(problems_list, weights=weights, k=1)[0]

def create_request_table(x):

    data = pd.DataFrame()
    
    for i in range(1,x+1):
        #client_name = f"{faker.first_name()} {faker.last_name()}"
        claim = select_problem()
        car = select_car()
        
        data.loc[i,'CLIENT_ID'] = i
        data.loc[i,'CLIENT_FIRST_NAME'] = faker.first_name()
        data.loc[i,'CLIENT_LAST_NAME'] = faker.last_name()
        data.loc[i,'CAR'] = car
        data.loc[i,'CLAIM'] = claim
        data.loc[i,'dealerId'] = randint(1,50)
        data.loc[i, 'delaerOrderId'] = f"{(i):06}" #Added here so I can retrieve

    return data

In [4]:
request_table = create_request_table(5)
#request_table.set_index('delaerOrderId', inplace=True)

In [5]:
request_table

,CLIENT_ID,CLIENT_FIRST_NAME,CLIENT_LAST_NAME,CAR,CLAIM,dealerId,delaerOrderId
1,1.0,Helena,Teixeira,Tan,Electrical system faults,18.0,000001
2,2.0,Laura,Aparecida,Seal,Battery degradation,44.0,000002
3,3.0,Valentim,Moraes,Dolphin,Overheating of battery,43.0,000003
4,4.0,Maria Vitória,Guerra,Dolphin,Suspension problems,16.0,000004
5,5.0,Ana Júlia,Mendes,Dolphin,Battery management system failure,11.0,000005

# Repair Order Table
Now that I already have some information about the Client, the Dealer will open the main request.

In [7]:
def generate_main_table(base_table):
    data = pd.DataFrame()

    for i, row in base_table.iterrows():
        
        createDate = faker.date_this_year()
        updateDate = faker.date_between(start_date=createDate)

        dominio = random.choice(["@gmail.com","@outlook.com","@yahoo.com.br","uol.com.br"])
        email = f"{row['CLIENT_LAST_NAME']}.{row['CLIENT_FIRST_NAME']}@{dominio}"


        data.loc[i, 'delaerOrderId'] = row['delaerOrderId']
        data.loc[i, 'dealerId'] = row['dealerId']
        data.loc[i, 'dealerOrderNo'] = randint(20,120)    #Inconsistent for now, it isnt tracking each dealer's order count
        data.loc[i, 'createBy'] = '9999999999'
        data.loc[i, 'createName'] = 'Name'
        #data.loc[i, 'createDate'] = createDate
        data.loc[i, 'updateBy'] = '9999999988'
        data.loc[i, 'updateName'] = 'Name'
        #data.loc[i, 'updateDate'] = updateDate
        data.loc[i, 'repairType'] = random.choice(['Warranty', 'Non-Warranty'])
        data.loc[i, 'orderStatus'] = random.choice(['Pending', 'In Progress', 'Completed'])
        data.loc[i, 'orderCreateDate'] = createDate
        data.loc[i, 'orderLastBalanceDate'] = updateDate
        data.loc[i, 'vin'] = faker.unique.license_plate()
        data.loc[i, 'custName'] = f"{row['CLIENT_FIRST_NAME']} {row['CLIENT_LAST_NAME']}"
        data.loc[i, 'custEmail'] = email
        data.loc[i, 'deliverer'] = faker.name()
        data.loc[i, 'delivererMobile'] = faker.phone_number()
        data.loc[i, 'powerMileage'] = faker.random_int(min=0, max=50000)
        data.loc[i, 'totalMileage'] = faker.random_int(min=0, max=100000)
        data.loc[i, 'createClaimFlag'] = random.choice(['Y', 'N'])
        data.loc[i, 'claimNo'] = faker.unique.uuid4() if data.loc[i, 'createClaimFlag'] == 'Y' else None
        data.loc[i, 'activityFlag'] = random.choice(['Y', 'N'])
        data.loc[i, 'activityCode'] = faker.unique.uuid4() if data.loc[i, 'activityFlag'] == 'Y' else None
        data.loc[i, 'troubleDesc'] = row['CLAIM']
        data.loc[i, 'deliverProblem'] = None
        data.loc[i, 'checkResult'] = None
        data.loc[i, 'isSecstore'] = random.choice(['Y', 'N'])
        data.loc[i, 'secstoreId'] = faker.unique.uuid4() if data.loc[i, 'isSecstore'] == 'Y' else None

    return data

In [8]:
REPAIR_ORDER_MAIN = generate_main_table(request_table)

In [9]:
REPAIR_ORDER_MAIN

,delaerOrderId,dealerId,dealerOrderNo,createBy,createName,updateBy,updateName,repairType,orderStatus,orderCreateDate,...,totalMileage,createClaimFlag,claimNo,activityFlag,activityCode,troubleDesc,deliverProblem,checkResult,isSecstore,secstoreId
1,000001,18.0,110.0,9999999999,Name,9999999988,Name,Warranty,Pending,2024-05-19,...,83941.0,N,None,Y,8d723104-f773-43c1-b458-a748e9bb17bc,Electrical system faults,None,None,Y,85776e9a-dd84-439e-b154-5a137a1d5006
2,000002,44.0,119.0,9999999999,Name,9999999988,Name,Warranty,Pending,2024-04-11,...,41950.0,N,None,N,None,Battery degradation,None,None,N,None
3,000003,43.0,84.0,9999999999,Name,9999999988,Name,Warranty,Pending,2024-07-16,...,38054.0,Y,2fcd81b5-d24b-4ce4-b07b-f3262f120554,Y,a81ad477-fb36-45b8-9cde-b3e60870e15c,Overheating of battery,None,None,Y,16febaa0-11af-423d-b9fd-ef7c42930b33
4,000004,16.0,105.0,9999999999,Name,9999999988,Name,Warranty,Completed,2024-02-20,...,80318.0,Y,a1515607-964a-470c-bc87-9b741d878f9f,Y,3e37952d-30bc-4b0e-9857-010255d44936,Suspension problems,None,None,Y,1dfc8352-4562-4e7f-bb42-e0b20426465e
5,000005,11.0,47.0,9999999999,Name,9999999988,Name,Non-Warranty,Pending,2024-03-26,...,15210.0,N,None,Y,31d0b664-0589-4877-9b02-52440950fd13,Battery management system failure,None,None,N,None

# Dealer Info Table
Now we will generate 50 dealers for the Dealer Info table

In [11]:
regions_and_states = {
    'Brazil North': {
        'AM': ['Manaus', 'Parintins', 'Itacoatiara'],
        'PA': ['Belém', 'Ananindeua']
    },
    'Brazil Northeast': {
        'BA': ['Salvador'],
        'CE': ['Fortaleza', 'Juazeiro do Norte', 'Sobral']
    },
    'Brazil Central-West': {
        'GO': ['Goiânia', 'Anápolis'],
        'MT': ['Cuiabá','Rondonópolis']
    },
    'Brazil Southeast': {
        'SP': ['São Paulo', 'Campinas', 'Santos', 'São José dos Campos'],
        'RJ': ['Rio de Janeiro', 'Niterói']
    },
    'Brazil South': {
        'PR': ['Curitiba', 'Londrina'],
        'RS': ['Porto Alegre', 'Caxias do Sul', 'Pelotas']
    }
}

def generate_dealers(x):
    data = pd.DataFrame()

    for i in range(x):

        region = random.choice(list(regions_and_states.keys()))
        state = random.choice(list(regions_and_states[region].keys()))
        city = random.choice(regions_and_states[region][state])
        
        data.loc[i, 'dealerId'] = f"{i + 1:04}"  # Dealer ID with 4 digits
        data.loc[i, 'dealerName'] = faker.unique.company()#f"{faker.first_name()} {faker.last_name()}"
        data.loc[i, 'passedTraining'] = random.choice(['Y']*7 + ['N']*3)
        data.loc[i, 'contactNumber'] = faker.msisdn()
        data.loc[i, 'country'] = 'Brazil'
        #data.loc[i, 'REGION'] = region
        data.loc[i, 'state'] = state
        data.loc[i, 'city'] = city
        data.loc[i, 'address'] = faker.address().replace('\n', ' ')  # Replace newline with space for better formatting

    return data

In [12]:
DEALER_INFO = generate_dealers(50)

In [13]:
DEALER_INFO

,dealerId,dealerName,passedTraining,contactNumber,country,state,city,address
0,0001,Silva Campos - ME,N,5541900869141,Brazil,CE,Juazeiro do Norte,Lagoa de Ferreira Olhos D'água 08709163 Fogaça...
1,0002,Sampaio Rocha S.A.,Y,5511922584197,Brazil,AM,Parintins,Viela Julia Nunes Buritis 56428-071 Sousa do N...
2,0003,Carvalho,Y,5541975945992,Brazil,RJ,Rio de Janeiro,"Pátio de Rezende, 1 Unidas 52337696 Guerra / RR"
3,0004,Vargas,Y,5511927142787,Brazil,PA,Belém,Largo Ana Lívia Martins Baleia 38120-665 Cunha...
4,0005,Rocha - EI,Y,5521931934421,Brazil,RJ,Niterói,"Vereda Enrico Almeida, 27 Santa Efigênia 28512..."
5,0006,Novais,N,5561959097765,Brazil,AM,Itacoatiara,"Trecho Ana Albuquerque, 52 Lorena 51590-042 Pa..."
6,0007,Gonçalves,Y,5584924173042,Brazil,AM,Manaus,"Loteamento Ana Clara Leão, 2 Serra Do Curral 7..."
7,0008,Cavalcante Pires - EI,Y,5571911133060,Brazil,SP,São José dos Campos,"Rua de da Rocha, 47 Novo Aarão Reis 53492635 A..."
8,0009,Moura - ME,Y,5541917643039,Brazil,MT,Cuiabá,Quadra Garcia Marieta 1ª Seção 19729668 Rocha ...
9,0010,Monteiro,N,5541989305550,Brazil,PA,Belém,"Trevo Leonardo Garcia, 247 Virgínia 80132040 F..."
10,0011,Rezende Marques Ltda.,N,5584968809189,Brazil,PA,Belém,"Favela Amanda Nascimento, 767 Ventosa 00248945..."
11,0012,Gomes,Y,5571902234500,Brazil,PR,Curitiba,"Residencial Pereira, 3 Xangri-Lá 60976-701 Vas..."
12,0013,Peixoto - EI,Y,5531951853671,Brazil,CE,Sobral,"Quadra de Pimenta, 51 Vila Suzana Primeira Seç..."
13,0014,Vieira,N,5521900740899,Brazil,BA,Salvador,"Vereda Vasconcelos, 986 Jatobá 26961161 Leão / SP"
14,0015,Siqueira Alves - ME,Y,5571960754151,Brazil,CE,Fortaleza,"Alameda de Ferreira, 12 Palmeiras 51923031 da ..."
15,0016,Pereira S.A.,Y,5531927175420,Brazil,MT,Rondonópolis,"Recanto Ana da Rocha, 252 Calafate 26223-583 S..."
16,0017,Freitas,N,5571902906112,Brazil,SP,Santos,"Pátio de Sousa, 79 Jardim Montanhês 13758-066 ..."
17,0018,Macedo,Y,5541954712141,Brazil,AM,Manaus,"Praia de Guerra, 76 Conjunto Providencia 75825..."
18,0019,Pinto,Y,5581903414892,Brazil,RJ,Rio de Janeiro,"Chácara Maysa Teixeira, 78 Jaqueline 14004689 ..."
19,0020,Fogaça,Y,5551939101448,Brazil,BA,Salvador,Feira de Teixeira Conjunto Jardim Filadélfia 6...
20,0021,Sousa,N,5551947592211,Brazil,RJ,Rio de Janeiro,"Quadra de Carvalho, 845 Vila Piratininga 37785..."
21,0022,Alves Fogaça - ME,Y,5571908116050,Brazil,BA,Salvador,"Ladeira Porto, 33 Vila Real 1ª Seção 31675-625..."
22,0023,Santos,N,5531985232756,Brazil,RS,Pelotas,"Parque Pedro Lucas Vieira, 47 Túnel De Ibirité..."
23,0024,Santos - EI,N,5551956708869,Brazil,MT,Cuiabá,"Recanto Pedro Fernandes, 10 Barão Homem De Mel..."
24,0025,Fernandes Pereira S/A,N,5521955875408,Brazil,RS,Caxias do Sul,"Chácara Otto Moura, 43 Granja De Freitas 48647..."
25,0026,Aragão,N,5571977711131,Brazil,RJ,Niterói,"Praia Pimenta, 7 Senhor Dos Passos 02373-245 L..."
26,0027,Pimenta,Y,5584934789784,Brazil,CE,Sobral,"Condomínio Pimenta, 3 Vila Paquetá 33408-860 G..."
27,0028,Campos,N,5561938433184,Brazil,CE,Juazeiro do Norte,"Vereda Maria Luiza da Paz, 122 São Vicente 590..."
28,0029,Viana Vasconcelos - ME,Y,5541932365992,Brazil,CE,Juazeiro do Norte,Alameda de Moura Universitário 77403-827 Nogue...
29,0030,da Luz S.A.,N,5571935460305,Brazil,MT,Cuiabá,"Viaduto Rael da Luz, 52 Alta Tensão 1ª Seção 9..."
30,0031,Câmara e Filhos,Y,5561910562376,Brazil,RS,Pelotas,"Estação Bella Siqueira, 16 Nova America 88709-..."
31,0032,Pinto Ribeiro - EI,Y,5531915323028,Brazil,PA,Ananindeua,"Praça Peixoto, 8 Vila Nova Cachoeirinha 1ª Seç..."
32,0033,Marques da Costa - EI,Y,5561926547604,Brazil,CE,Sobral,"Área Sophia Oliveira, 840 Morro Dos Macacos 65..."
33,0034,Costela,N,5521995398522,Brazil,SP,São José dos Campos,"Aeroporto de Pacheco, 3 Mantiqueira 44576-962 ..."
34,0035,Macedo S.A.,N,5561907493186,Brazil,PR,Londrina,"Rua Cavalcante, 3 Tiradentes 88966444 Lima / SP"
35,0036,da Luz,Y,5584988553620,Brazil,PA,Belém,"Vila de Viana, 865 Aparecida 7ª Seção 93058-23..."
36,0037,Oliveira da Costa Ltda.,Y,5531961973781,Brazil,MT,Rondonópolis,"Campo Letícia Porto, 54 Olhos D'água 95140-704..."
37,0038,Lopes,N,5571909759294,Brazil,GO,Goiânia,"Passarela Melo, 220 Serrano 50131-870 Alves Al..."
38,0039,Teixeira Porto Ltda.,N,5571929264802,Brazil,CE,Juazeiro do Norte,"Via Caleb Siqueira, 708 Conjunto Serra Verde 9..."
39,0040,Moreira,N,5581927820928,Brazil,MT,Cuiabá,"Campo Matheus Ramos, 49 Xodo-Marize 82527-808 ..."
40,0041,Vasconcelos S/A,N,5521969597568,Brazil,AM,Itacoatiara,"Condomínio de Carvalho, 30 Vila Paquetá 059306..."
41,0042,Jesus S/A,N,5581959944976,Brazil,CE,Fortaleza,Jardim Mateus Gomes Bela Vitoria 11050-269 Dua...
42,0043,Melo,Y,5521908640811,Brazil,RS,Pelotas,"Recanto Andrade, 58 Aparecida 7ª Seção 6528222..."
43,0044,Mendes e Filhos,N,5571903345235,Brazil,SP,São Paulo,"Quadra Emanuella Nunes, 16 Conjunto Jardim Fil..."
44,0045,Oliveira - EI,Y,5531926066953,Brazil,RJ,Niterói,"Favela de Nascimento, 31 Nossa Senhora Do Rosá..."
45,0046,Pacheco,Y,5521944858099,Brazil,SP,Campinas,"Área Aurora Gonçalves, 9 Santo Agostinho 26066..."
46,0047,Jesus,Y,5531994815525,Brazil,PA,Ananindeua,"Avenida de Costa, 62 Jardim Leblon 04860-646 F..."
47,0048,Camargo Pimenta Ltda.,Y,5531906967116,Brazil,AM,Parintins,"Favela Cavalcante, 90 Cidade Jardim Taquaril 5..."
48,0049,Garcia Sousa e Filhos,Y,5584943656784,Brazil,SP,São Paulo,"Viela Cassiano, 90 Camargos 99814926 Vieira / AL"
49,0050,Camargo Ltda.,Y,5581951759473,Brazil,CE,Fortaleza,"Campo de Vasconcelos, 320 Santo Agostinho 9376..."

# Part Sale
Next we generate the *Part Sale* table, that contains all the Parts sold directly to the client

So based on the Problem that the vehicle has, the Dealer will sell the client a part
- Plan of Action
   - Map wich Parts can be sold for each specific problem.
   - Get a random number of how many different parts will be sold.
   - Then add a row for each part_sold.
 
   - Maior ou igual as partes utilizadas.

In [15]:
# Define parts and their descriptions with standardized 6-character codes
parts_type = {
    "BP0001": "Battery Pack",
    "EM0002": "Electric Motor",
    "IN0003": "Inverter",
    "CP0004": "Charging Port",
    "DC0005": "DC-DC Converter",
    "BMS006": "Battery Management System (BMS)",
    "PEC007": "Power Electronics Controller",
    "TMS008": "Thermal Management System",
    "RBS009": "Regenerative Braking System",
    "OC0100": "Onboard Charger",
    "HVC011": "High Voltage Cables",
    "EDU012": "Electric Drive unity",
    "RG0130": "Reduction Gear",
    "HP0140": "Heat Pump",
    "EAC015": "Electric Air Conditioning Compressor",
    "EWP016": "Electric Water Pump",
    "BP0170": "Brake Pads",
    "BD0180": "Brake Discs",
    "TI0190": "Tires",
    "WB0200": "Wheel Bearings",
    "WS0210": "Windshield",
    "MI0220": "Mirrors",
    "HL0230": "Headlights",
    "TL0240": "Taillights",
    "WB0250": "Wiper Blades",
    "SC0260": "Suspension Components (Shocks, Struts)",
    "CA0270": "Control Arms",
    "TRE028": "Tie Rod Ends",
    "CVJ029": "CV Joints",
    "AX0300": "Axles",
    "CL0310": "Coolant (for thermal management)",
    "BF0320": "Brake Fluid",
    "PSF033": "Power Steering Fluid (if applicable)",
    "CAF034": "Cabin Air Filter",
    "FB0350": "Fuse Box",
    "AB0360": "12V Auxiliary Battery"
}

# Define the maximum quantity for each part
max_partQuantity = {
    "BP0001": 1,  # Battery Pack
    "EM0002": 1,  # Electric Motor
    "IN0003": 1,  # Inverter
    "CP0004": 1,  # Charging Port
    "DC0005": 1,  # DC-DC Converter
    "BMS006": 1,  # Battery Management System (BMS)
    "PEC007": 1,  # Power Electronics Controller
    "TMS008": 1,  # Thermal Management System
    "RBS009": 1,  # Regenerative Braking System
    "OC0100": 1,  # Onboard Charger
    "HVC011": 4,  # High Voltage Cables
    "EDU012": 1,  # Electric Drive unity
    "RG0130": 1,  # Reduction Gear
    "HP0140": 1,  # Heat Pump
    "EAC015": 1,  # Electric Air Conditioning Compressor
    "EWP016": 1,  # Electric Water Pump
    "BP0170": 8,  # Brake Pads (Assuming a set for each wheel)
    "BD0180": 4,  # Brake Discs (Assuming a disc for each wheel)
    "TI0190": 4,  # Tires (Assuming a tire for each wheel)
    "WB0200": 4,  # Wheel Bearings (Assuming a bearing for each wheel)
    "WS0210": 1,  # Windshield
    "MI0220": 2,  # Mirrors
    "HL0230": 2,  # Headlights
    "TL0240": 2,  # Taillights
    "WB0250": 2,  # Wiper Blades
    "SC0260": 4,  # Suspension Components (Assuming components for each wheel)
    "CA0270": 2,  # Control Arms
    "TRE028": 2,  # Tie Rod Ends
    "CVJ029": 2,  # CV Joints
    "AX0300": 2,  # Axles
    "CL0310": 5,  # Coolant (Assuming 5 liters for a full system flush)
    "BF0320": 2,  # Brake Fluid (Assuming 2 liters for a full system flush)
    "PSF033": 2,  # Power Steering Fluid (if applicable)
    "CAF034": 1,  # Cabin Air Filter
    "FB0350": 1,  # Fuse Box
    "AB0360": 1   # 12V Auxiliary Battery
}


# Map problems to related parts using standardized codes
problem_parts_mapping = {
    "Battery degradation": ["BP0001", "BMS006"],
    "Charging issues": ["CP0004", "OC0100"],
    "Electric motor failure": ["EM0002"],
    "Range anxiety": ["BP0001"],  # Assuming range anxiety is related to battery pack
    "Battery management system failure": ["BMS006"],
    "Overheating of battery": ["BP0001", "TMS008"],
    "Electrical system faults": ["HVC011", "PEC007"],
    "Regenerative braking issues": ["RBS009"],
    "Inverter problems": ["IN0003"],
    "Cooling system issues": ["TMS008", "CL0310"],
    "Charging port issues": ["CP0004"],
    "Software glitches": ["PEC007"],
    "Wiring problems": ["HVC011"],
    "Vehicle control system failures": ["PEC007"],
    "Battery overheating": ["BP0001", "TMS008"],
    "Inconsistent charging": ["CP0004", "OC0100"],
    "Climate control system issues": ["EAC015", "HP0140"],
    "Connectivity issues": ["PEC007"],
    "Suspension problems": ["SC0260", "CA0270", "TRE028"],
    "Windshield replacement": ["WS0210"],
    "Brake system maintenance": ["BP0170", "BD0180", "BF0320"],
    "Tire replacement": ["TI0190"],
    "Fluid top-up": ["CL0310", "BF0320", "PSF033"],
    "Cabin filter replacement": ["CAF034"]
}

In [16]:
def generate_sale_parts(base_table):
    
    data = pd.DataFrame()

    t = 0
    i = 0
    
    additional_parts = []

    for i, row in base_table.iterrows():

        t = i

        createDate = faker.date_this_year()
        updateDate = faker.date_between(start_date=createDate)
        
        #Randomize the number of parts sold
        problem = row['CLAIM']
        parts_sold = randint(1,len(problem_parts_mapping[problem])) #problem_parts_mapping[problem] is the list of parts that could be sold for that problem

        #If more than one part is going to be sold, then we are going to store it in additional_parts and add it later, otherwise it is not possible
        #since we are iterating only once for each base_table row
        if parts_sold > 1:
            for x in range (1,parts_sold):
                additional_parts.append([problem_parts_mapping[problem][x],row['delaerOrderId'],vehicles[row['CAR']]])
            
        this_part = problem_parts_mapping[problem][0]
        partQuantity = randint(1,max_partQuantity[this_part])

        data.loc[i, 'roSalePartId'] = f"{(i):010}"
        data.loc[i, 'delaerOrderId'] = row['delaerOrderId']
        data.loc[i, 'partCode'] = f"PA{this_part}{vehicles[row['CAR']]}"
        #data.loc[i, 'partName'] = parts_type[this_part]
        data.loc[i, 'partQuantity'] = partQuantity
        data.loc[i, 'createBy'] = '9999999999'
        data.loc[i, 'createDate'] = createDate
        data.loc[i, 'updateBy'] = '9999999988'
        data.loc[i, 'updateDate'] = updateDate


    # for i in range(len(additional_parts)):

    #     partQuantity = randint(1,max_partQuantity[additional_parts[i][0]])
        
    #     data.loc[i + t + 1, 'roSalePartId'] = f"{(t + (i + 1)):010}"
    #     data.loc[i + t + 1, 'delaerOrderId'] = additional_parts[i][1]
    #     data.loc[i + t + 1, 'partCode'] = f"PA{additional_parts[i][0]}{additional_parts[i][2]}"
    #     #data.loc[i + t + 1, 'partName'] = parts_type[additional_parts[i][0]]
    #     data.loc[i + t + 1, 'partQuantity'] = partQuantity
    #     data.loc[i + t + 1, 'createBy'] = '9999999999'
    #     data.loc[i + t + 1, 'createDate'] = createDate
    #     data.loc[i + t + 1, 'updateBy'] = '9999999988'
    #     data.loc[i + t + 1, 'updateDate'] = updateDate

    return data

In [17]:
REPAIR_ORDER_SALE_PARTS = generate_sale_parts(request_table)

In [18]:
REPAIR_ORDER_SALE_PARTS

,roSalePartId,delaerOrderId,partCode,partQuantity,createBy,createDate,updateBy,updateDate
1,0000000001,000001,PAHVC011BYD005,4.0,9999999999,2024-01-21,9999999988,2024-07-16
2,0000000002,000002,PABP0001BYD002,1.0,9999999999,2024-05-25,9999999988,2024-06-02
3,0000000003,000003,PABP0001BYD001,1.0,9999999999,2024-06-06,9999999988,2024-07-08
4,0000000004,000004,PASC0260BYD001,2.0,9999999999,2024-03-31,9999999988,2024-07-07
5,0000000005,000005,PABMS006BYD001,1.0,9999999999,2024-06-25,9999999988,2024-06-26

# Repair Part 
Next we generate the *Parts* used in the repair by the dealer.

In [20]:
def generate_parts(base_table):
    
    data = pd.DataFrame()

    
    additional_parts = []

    for i, row in base_table.iterrows():

        data.loc[i, 'roPartId '] = f"{(i):010}"
        data.loc[i, 'delaerOrderId'] = row['delaerOrderId']
        data.loc[i, 'partCode'] = row['partCode']
        #data.loc[i, 'partName'] = row['partCode']
        data.loc[i, 'partQuantity'] = row['partQuantity']
        data.loc[i, 'mainPartFlag'] = f"{randint(1000,1000000):08}"
        data.loc[i, 'downPartSerialNumber'] = None
        data.loc[i, 'upPartSerialNumber'] = None
        data.loc[i, 'createBy'] = '9999999999'
        data.loc[i, 'createDate'] = row['createDate']
        data.loc[i, 'updateBy'] = '9999999988'
        data.loc[i, 'updateDate'] = faker.date_between(start_date= row['createDate'])

    return data

In [21]:
REAPIR_ORDER_PARTS = generate_parts(REPAIR_ORDER_SALE_PARTS)

In [22]:
REAPIR_ORDER_PARTS

,roPartId,delaerOrderId,partCode,partQuantity,mainPartFlag,downPartSerialNumber,upPartSerialNumber,createBy,createDate,updateBy,updateDate
1,0000000001,000001,PAHVC011BYD005,4.0,00551069,None,None,9999999999,2024-01-21,9999999988,2024-04-23
2,0000000002,000002,PABP0001BYD002,1.0,00780379,None,None,9999999999,2024-05-25,9999999988,2024-07-24
3,0000000003,000003,PABP0001BYD001,1.0,00064910,None,None,9999999999,2024-06-06,9999999988,2024-06-15
4,0000000004,000004,PASC0260BYD001,2.0,00755913,None,None,9999999999,2024-03-31,9999999988,2024-05-22
5,0000000005,000005,PABMS006BYD001,1.0,00922249,None,None,9999999999,2024-06-25,9999999988,2024-07-19

# Parts Info Table

- For each Part in the parts dict
   - For each car model in the vehicle dict
       - there will be a partCode

In [24]:
def generate_PARTS_INFO():
    
    data = []
    
    for vehicle_name, vehicle_code in vehicles.items():
        for partCode, partName in parts_type.items():
            partCode_vehicle = f"PA{partCode}{vehicle_code}"
            data.append({
                "partCode": partCode_vehicle,
                "partName": partName,
                "unity": "Piece",  # Assuming unity is piece for simplicity
                "isPermittedToOrder": random.choice(["Yes", "No"]),
                "permiteedOrderType": random.choice(["Type1", "Type2"]),
                "sellingPrice": round(random.uniform(10, 1000), 2),
                "suggestedRetailPrice": round(random.uniform(20, 1200), 2),
                "warrantyPrice": round(random.uniform(5, 900), 2),
                "vehicleSeries": vehicle_name,
                "volume": round(random.uniform(0.1, 10), 2),
                "region": random.choice(list(regions_and_states.keys())),
                "sparePartsType": "OEM",
                "isOemParts": "Yes",
                "creationDate": faker.date_this_year()
            })
    
    df = pd.DataFrame(data)
    return df

In [25]:
PARTS_INFO = generate_PARTS_INFO()

In [26]:
PARTS_INFO

,partCode,partName,unity,isPermittedToOrder,permiteedOrderType,sellingPrice,suggestedRetailPrice,warrantyPrice,vehicleSeries,volume,region,sparePartsType,isOemParts,creationDate
0,PABP0001BYD001,Battery Pack,Piece,Yes,Type1,994.16,560.44,37.15,Dolphin,8.51,Brazil South,OEM,Yes,2024-07-09
1,PAEM0002BYD001,Electric Motor,Piece,Yes,Type1,93.07,152.35,527.55,Dolphin,9.91,Brazil Southeast,OEM,Yes,2024-06-02
2,PAIN0003BYD001,Inverter,Piece,Yes,Type1,260.07,154.54,85.30,Dolphin,6.31,Brazil Northeast,OEM,Yes,2024-07-02
3,PACP0004BYD001,Charging Port,Piece,Yes,Type2,232.75,891.94,297.65,Dolphin,0.39,Brazil Northeast,OEM,Yes,2024-04-13
4,PADC0005BYD001,DC-DC Converter,Piece,No,Type1,943.80,203.69,32.72,Dolphin,1.51,Brazil Northeast,OEM,Yes,2024-03-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,PABF0320BYD005,Brake Fluid,Piece,Yes,Type1,415.27,617.10,854.38,Tan,2.93,Brazil North,OEM,Yes,2024-07-03
176,PAPSF033BYD005,Power Steering Fluid (if applicable),Piece,Yes,Type2,108.03,932.56,244.72,Tan,2.68,Brazil Southeast,OEM,Yes,2024-02-18
177,PACAF034BYD005,Cabin Air Filter,Piece,No,Type2,418.15,742.41,770.33,Tan,4.92,Brazil Northeast,OEM,Yes,2024-07-16
178,PAFB0350BYD005,Fuse Box,Piece,No,Type1,688.13,537.31,362.44,Tan,1.35,Brazil North,OEM,Yes,2024-06-22
179,PAAB0360BYD005,12V Auxiliary Battery,Piece,Yes,Type2,452.19,792.45,517.68,Tan,4.61,Brazil Central-West,OEM,Yes,2024-07-01

# Labours Table

This table contains the Labours and their cost to the company

In [28]:
labours = {
    "LR001": "Battery Replacement",
    "LR002": "Motor Repair",
    "LR003": "Inverter Replacement",
    "LR004": "Charging Port Repair",
    "LR005": "DC-DC Converter Replacement",
    "LR006": "BMS Calibration",
    "LR007": "Power Electronics Repair",
    "LR008": "Thermal Management Service",
    "LR009": "Regenerative Braking Adjustment",
    "LR010": "Onboard Charger Repair",
    "LR011": "Drive unity Maintenance",
    "LR012": "Gearbox Service",
    "LR013": "Heat Pump Repair",
    "LR014": "AC Compressor Service",
    "LR015": "Water Pump Replacement",
    "LR016": "Brake System Service",
    "LR017": "Suspension Repair",
    "LR018": "Headlight Alignment",
    "LR019": "Windshield Replacement",
    "LR020": "Fuse Replacement"
}

parts_to_labours_mapping = {
    "BP0001": "LR001",
    "EM0002": "LR002",
    "IN0003": "LR003",
    "CP0004": "LR004",
    "DC0005": "LR005",
    "BMS006": "LR006",
    "PEC007": "LR007",
    "TMS008": "LR008",
    "RBS009": "LR009",
    "OC0100": "LR010",
    "HVC011": "LR010",
    "EDU012": "LR011",
    "RG0130": "LR012",
    "HP0140": "LR013",
    "EAC015": "LR014",
    "EWP016": "LR015",
    "BP0170": "LR016",
    "BD0180": "LR016",
    "TI0190": "LR016",
    "WB0200": "LR016",
    "WS0210": "LR019",
    "MI0220": "LR019",
    "HL0230": "LR018",
    "TL0240": "LR018",
    "WB0250": "LR018",
    "SC0260": "LR017",
    "CA0270": "LR017",
    "TRE028": "LR017",
    "CVJ029": "LR017",
    "AX0300": "LR017",
    "CL0310": "LR013",
    "BF0320": "LR013",
    "PSF033": "LR013",
    "CAF034": "LR014",
    "FB0350": "LR020",
    "AB0360": "LR020"
}

labours_extra = {                       #Labours that are not directly linked to parts
    "LR021": "Software Update",
    "LR022": "Diagnostic Check",
    "LR023": "Annual Maintenance",
    "LR024": "Battery Health Check",
    "LR025": "General Safety Inspection"
}

In [29]:
def generate_labours(parts_data):

    data = pd.DataFrame()
    
    for index, row in parts_data.iterrows():
        
        t = index                            #0 1 2 3 4 5 6 7 8 9 10 11 12 13
        partCode = (row['partCode'])[2:8]  #P A B P 0 0 0 1 B Y D  0  0  1
        labour_code = f"W{parts_to_labours_mapping[partCode]}{(row['partCode'])[8:14]}" #WLR001BYD002
        labour_name = parts_to_labours_mapping[partCode]

        createDate = faker.date_between(row['createDate']) #Date of the labour (between the selling of parts and now days)

        data.loc[index,'roLabourId'] = index + 1
        data.loc[index,'delaerOrderId'] = row['delaerOrderId']
        data.loc[index,'labourCode'] = labour_code
        #data.loc[index,'labourName'] = labour_name
        data.loc[index,'labourHours'] = randint(1,6)
        data.loc[index,'createBy'] = '9999999999'
        data.loc[index,'createDate'] = createDate
        data.loc[index,'updateBy'] = '9999999988'
        data.loc[index,'updateDate'] = faker.date_between(createDate)

    return data
    
    # for i in range (t, t + t//3):    #Suppose 1/3 of the orders need some of the labours_extra

    #     labour = random.choice(list(labours_extra.keys()))
    #     labour_name = labours_extra[labour]
    #     labour_code = f"W{labour}{vehicles[request_table.loc[row['delaerOrderId']]]}"

    #     createDate = faker.date_this_year()
        
    #     data.loc[i,'roLabourId'] = i
    #     data.loc[i,'delaerOrderId'] = randint(1,5000)
    #     data.loc[i,'labourCode'] = labour_code
    #     data.loc[i,'labourName'] = labour_name
    #     data.loc[i,'createBy'] = '9999999999'
    #     data.loc[i,'createDate'] = createDate
    #     data.loc[i,'updateBy'] = '9999999988'
    #     data.loc[i,'updateDate'] = faker.date_between(createDate)
        
    # return data

In [30]:
REPAIR_ORDER_LABOUR = generate_labours(REPAIR_ORDER_SALE_PARTS)

In [31]:
REPAIR_ORDER_LABOUR

,roLabourId,delaerOrderId,labourCode,labourHours,createBy,createDate,updateBy,updateDate
1,2.0,000001,WLR010BYD005,2.0,9999999999,2024-02-24,9999999988,2024-05-22
2,3.0,000002,WLR001BYD002,3.0,9999999999,2024-07-17,9999999988,2024-07-21
3,4.0,000003,WLR001BYD001,1.0,9999999999,2024-06-18,9999999988,2024-07-08
4,5.0,000004,WLR017BYD001,3.0,9999999999,2024-05-19,9999999988,2024-06-24
5,6.0,000005,WLR006BYD001,3.0,9999999999,2024-06-28,9999999988,2024-07-22

# Labours Table

This table contains the Labours and their cost to the company

In [33]:
def generate_LABOUR_INFO_table():    
    data = []
    
    for vehicle_name, vehicle_code in vehicles.items():
        for labour_code, labour_name in labours.items():

            if labour_code in ["LR001","LR006"]:
                battery_pack_repair = 'Y'
            else:
                battery_pack_repair = 'N'
            
            labour_code_vehicle = f"W{labour_code}{vehicle_code}"
            data.append({
                "labourCode": labour_code_vehicle,
                "labourName": f"{labour_name}",
                "vehicleSeries": vehicle_name,
                "mainCategory": None,
                "secondaryClassification":None,
                "isBatteryRepair":battery_pack_repair
            })
    
    df = pd.DataFrame(data)
    return df


# labourCode
# labourName (Repair item name)
# vehicleSeries (Name of project Vehicle Series)
# mainCategory (Main category name)
# secondaryClassification (Secondary classification name)
# IS_BATTERY_REPAIR (Battery pack repair or not)

In [34]:
LABOUR_INFO = generate_LABOUR_INFO_table()

In [35]:
LABOUR_INFO

,labourCode,labourName,vehicleSeries,mainCategory,secondaryClassification,isBatteryRepair
0,WLR001BYD001,Battery Replacement,Dolphin,None,None,Y
1,WLR002BYD001,Motor Repair,Dolphin,None,None,N
2,WLR003BYD001,Inverter Replacement,Dolphin,None,None,N
3,WLR004BYD001,Charging Port Repair,Dolphin,None,None,N
4,WLR005BYD001,DC-DC Converter Replacement,Dolphin,None,None,N
...,...,...,...,...,...,...
95,WLR016BYD005,Brake System Service,Tan,None,None,N
96,WLR017BYD005,Suspension Repair,Tan,None,None,N
97,WLR018BYD005,Headlight Alignment,Tan,None,None,N
98,WLR019BYD005,Windshield Replacement,Tan,None,None,N
99,WLR020BYD005,Fuse Replacement,Tan,None,None,N